.contents {
  h1, h2, h3 {
    font-family: "Raleway", "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
  }
  h1 {
    margin: 50px 0 30px 0;
  }
  h2 {
    margin: 50px 0 30px 0;
  }
  h3 {
    margin: 25px 0 15px 0;
  }

  ul {
    padding-left: 30px;
    margin-bottom: 10px;
  }

  li {
    list-style-type: disc;
    padding: 7px 0;
    line-height: 150%;
  }

  p {
    line-height: 200%;
    margin-bottom: 10px;
  }
}
