<h2>Writing Careers</h2>

<ul>
    <li>
        <a href="https://www.amazon.co.jp/dp/4048930613/">エキスパートPythonプログラミング改訂2版 - KADOKAWA(ASCII DWANGO)</a>
    </li>
    <li>
        <a href="https://developers.cyberagent.co.jp/blog/archives/13739/">RTMP 1.0 準拠のサーバーをGo言語で実装する - CyberAgent Developers Blog</a>
    </li>
    <li>
        <a href="http://gihyo.jp/news/report/01/pycon-apac2016">「PyCon APAC 2016 in Korea」参加レポート：レポート | gihyo.jp 技術評論社</a>
        <ul>
            <li><a href="http://gihyo.jp/news/report/01/pycon-apac2016/0001">2016.08 第1回　現地の様子とカンファレンス1日目 ～pandas開発者によるKeynote～</a></li>
            <li><a href="http://gihyo.jp/news/report/01/pycon-apac2016/0002">2016.08 第2回　カンファレンス2日目 ～Flask開発者・PyPy開発者によるKeynote～</a></li>
        </ul>
    </li>
    <li>
        <a href="http://gihyo.jp/news/report/01/pycon-apac-2015">台湾で開催された「PyCon APAC 2015」参加レポート | gihyo.jp 技術評論社</a>
        <ul>
            <li><a href="http://gihyo.jp/news/report/01/pycon-apac-2015/0001">2015.06 第1回　現地の様子とカンファレンス1日目 ～Van Lindberg氏による基調講演，おやつタイム，等々～</a></li>
            <li><a href="http://gihyo.jp/news/report/01/pycon-apac-2015/0002">2015.06 第2回　カンファレンス2日目参加レポート ～Robert Bradshaw氏による基調講演，LT，等々～</a></li>
            <li><a href="http://gihyo.jp/news/report/01/pycon-apac-2015/0003">2015.07 第3回（最終回）　カンファレンス3日目参加レポート ～プレゼント大会，等々～</a></li>
        </ul>
    </li>
    <li>
        <a href="http://gihyo.jp/dev/serial/01/pycon-jp-2015">PyCon JP 2015の作り方 | gihyo.jp 技術評論社</a>
        <ul>
            <li><a href="http://gihyo.jp/dev/serial/01/pycon-jp-2015/0003">2015.08 第3回　プログラムチーム編：テーマ，プログラム，新企画等</a></li>
            <li><a href="http://gihyo.jp/dev/serial/01/pycon-jp-2015/0004">2015.09 第4回（最終回）　会場チーム編：会場，ネットワーク，ランチ，おやつ等</a></li>
        </ul>
    </li>
    <li>
        PyCon JP 2015 開催前レポート | CodeZine
        <ul>
            <li><a href="http://codezine.jp/article/detail/8923">2015.09 第1回 開催概要・キーノート</a></li>
            <li><a href="http://codezine.jp/article/detail/8990">2015.09 第2回 プログラムについて</a></li>
            <li><a href="http://codezine.jp/article/detail/8991">2015.10 第3回 会場・パーティについて</a></li>
            <li><a href="http://codezine.jp/article/detail/9006">2015.10 第4回 その他の見どころ</a></li>
        </ul>
    </li>
    <li>
        PyCon JP 2015 振り返りレポート | Codezine
        <ul>
            <li><a href="http://codezine.jp/article/detail/9079">2015.11 ～第1回 座長あいさつ・メディアチームの作業内容</a></li>
        </ul>
    </li>
    <li>
        <a href="http://www.ieice.org/ess/biox/sbra2014/">2014.11 スマートフォンにおけるPIN入力認証における閾値決定手法 優秀ポスター発表賞</a>
    </li>
    <li>
        <a href="http://ci.nii.ac.jp/naid/40020225048">2014.09 PIN入力認証の実装における一考察 (MEとバイオサイバネティックス)</a>
    </li>
</ul>


<h2>OSS Libraries</h2>

<h3>Golang</h3>
<ul>
    <li><a href="https://github.com/c-bata/go-prompt">go-prompt: Building powerful interactive prompt in Go, inspired by python-prompt-toolkit.</a></li>
    <li><a href="https://github.com/c-bata/kube-prompt">kube-prompt: An interactive kubernetes client featuring autocomplete using go-prompt.</a></li>
    <li><a href="https://github.com/c-bata/rtmp">rtmp: Server implementation of RTMP 1.0 protocol in Go.</a></li>
    <li><a href="https://github.com/c-bata/systracer">systracer: Yet another system call tracer written in Pure Go.</a></li>
    <li><a href="https://github.com/c-data/gosearch">gosearch: Web crawler and Search engine in Golang. </a></li>
    <li><a href="https://github.com/c-bata/rexecute">rexecute: Re-execute a command when specified files are modified. </a></li>
</ul>

<h3>Python</h3>
<ul>
    <li><a href="https://github.com/kobinpy/kobin">Kobin: A small and statically-typed web web framework for python</a></li>
    <li><a href="https://github.com/c-data/feedy">Feedy: RSS Feed fetching framework for python</a></li>
    <li><a href="https://github.com/c-data/pandas-validator">pandas-validator: Validation Library for pandas's DataFrame and Series.</a></li>
    <li><a href="https://github.com/kobinpy/wsgicli">WSGICLI: Command Line Interface for developing WSGI application..</a></li>
    <li><a href="https://github.com/kobinpy/wsgi-static-middleware">wsgi-static-middleware: WSGI Middleware for serving static files.</a></li>
    <li><a href="https://github.com/kobinpy/wsgi-vmprof">wsgi-vmprof: WSGI Middleware for integrating vmprof.</a></li>
    <li><a href="https://github.com/c-data/outlier-utils">outlier-utils: Utility library for detecting and removing outliers from normally distributed datasets</a></li>
    <li><a href="https://github.com/c-bata/django-label-tag-attr">django-label-tag-attr: Add css classes and html tag attributes to django form's label.</a></li>
</ul>

<h3>JavaScript</h3>
<ul>
    <li><a href="https://github.com/c-bata/react-native-focus-scroll">react-native-focus-scroll: To detect which children are focused when scrolling for React Native. </a></li>
    <li><a href="https://github.com/c-bata/comet">Comet: NicoNico style tweet viewer for Desktop</a></li>
    <li><a href="https://github.com/c-bata/ng2-card">ng2-card: Card view component for Angular2</a></li>
    <li><a href="https://github.com/c-bata/mdnote">mdnote: Markdown editor with React.js, Babel and Electron.</a></li>
</ul>

<h3>Others</h3>
<ul>
    <li><a href="https://github.com/c-data/jpandas">jpandas: Implementation of Pandas (Python Data Analysis Library) on java.</a></li>
    <li><a href="https://github.com/c-bata/pym">pym: Simple python interpreter manager</a></li>
</ul>

<h2>Talks</h2>

<ul>
    <li>
        <a href="https://www.slideshare.net/c-bata/rtmp-rtmp10-concepts-and-specification-of-rtmp">2018.02 「RTMPのはなし - RTMP1.0の仕様とコンセプト 」 at Streaming Conference #1</a>
        [<a href="https://streaming-lab.connpass.com/event/78549/">connpass</a>]
    </li>
    <li>
        <a href="https://www.slideshare.net/c-bata/writing-system-call-tracer-for-linuxx86">2018.01 「システムコールトレーサーの動作原理と実装 」 at 会津大学</a>
    </li>
    <li>
        <a href="https://www.slideshare.net/c-bata/golang-ui">2017.09 「Golangにおける端末制御 リッチなターミナルUIの実現方法」 at CA.go #2</a>
        [<a href="https://cyberagent.connpass.com/event/64974/">connpass</a>]
        [<a href="https://freshlive.tv/tech-conference/150789">動画</a>]
    </li>
    <li>
        <a href="https://www.slideshare.net/c-bata/how-todeveloparichterminaluiapp">2017.08 LT: 「How to develop a rich terminal UI application」 at PyCon APAC/Malaysia 2017</a>
        [<a href="https://pycon.my/">PyCon Malaysia</a>]
    </li>
    <li>
        <a href="https://github.com/c-bata/concurrency-in-python">2017.03 「非同期・並行処理ハンズオン」 at 神戸Pythonの会</a>
        [<a href="https://kobe-python.connpass.com/event/49279/">connpass</a>]
        [<a href="https://f0697a62045dae763ed7b3c489.doorkeeper.jp/events/58543">doorkeeper</a>]
    </li>
    <li>
        <a href="https://kobinpy.github.io/handson-ja/#1">2017.01 「Kobinハンズオン」 at 神戸Pythonの会</a>
        [<a href="https://github.com/kobinpy/handson-ja">github</a>]
        [<a href="https://kobe-python.connpass.com/event/48080/">connpass</a>]
        [<a href="https://f0697a62045dae763ed7b3c489.doorkeeper.jp/events/55869">doorkeeper</a>]
    </li>
    <li>
        <a href="https://pycon.jp/2016/ja/schedule/presentation/14/">2016.09 「基礎から学ぶWebアプリケーションフレームワークの作り方」at PyCon JP 2016 in Tokyo</a>
        [<a href="http://c-bata.link/webframework-in-python/slide.html">スライド</a>]
        [<a href="http://c-bata.link/webframework-in-python/">補足資料</a>]
        [<a href="https://github.com/c-bata/webframework-in-python">Github</a>]
        [<a href="https://www.youtube.com/watch?v=S-InxJA5NOg">動画</a>]
        [<a href="http://togetter.com/li/1027177">Togetter</a>]
    </li>
    <li>
        <a href="http://python-nyumon.connpass.com/event/36487/">2016.08 ゲスト講演「Pythonのまなびかた」at Python 入門者の集い #3</a>
        [<a href="http://c-bata.link/pynyumon/">スライド</a>]
    </li>
    <li>
        <a href="https://www.pycon.kr/2016apac/">2016.08 LT: 「Introduction of Feedy」 at PyCon APAC 2016 in Korea</a>
        [<a href="http://www.slideshare.net/c-bata/introduction-of-feedy">スライド</a>]
        [<a href="https://www.youtube.com/watch?v=9PLJs1wDYnc">動画</a>]
    </li>
    <li>
        <a href="http://osakapy.connpass.com/event/28788/">2016.04 「WAFをつくってる話」 at #osakapy</a>
        [<a href="http://www.slideshare.net/c-bata/web-osakapy">スライド</a>]
    </li>
    <li>
        <a href="http://kosenconf.me/">2016.04 LT: 「Python製Webフレームワークの設計と実装」 at 高専カンファlol</a>
        [<a href="https://speakerdeck.com/c_bata/how-to-develop-web-application-framework-in-python">スライド</a>]
    </li>
    <li>
        <a href="https://kosenconf.doorkeeper.jp/events/32929">2015.12 「Pythonのすすめ」 at 高専カンファレンス100 in 東京</a>
        [<a href="http://www.slideshare.net/c-bata/python-56307268">スライド</a>]
    </li>
    <li>
        <a href="https://pycon.jp/2015/ja/">2015.10 LT: 「pandasによるデータ加工時の注意点やライブラリの話」 at PyCon JP 2015</a>
        [<a href="http://www.slideshare.net/c-bata/pandas-53769651">スライド</a>]
        [<a href="https://youtu.be/9YKkrqWY0m0?t=21m37s">動画</a>]
    </li>
    <li>
        <a href="https://tw.pycon.org/2015apac/ja/">2015.06 LT: "Introduction of PyCon JP" at PyCon APAC/Taiwan 2015</a>
        [<a href="http://www.slideshare.net/c-bata/introduction-of-pycon-jp-at-pycon-apactaiwan-2015">スライド</a>]
        [<a href="https://www.youtube.com/watch?v=I5vdPz75pDk">動画</a>]
    </li>
</ul>

