<h2>Gallery</h2>

<div class="work-card-list">
    <card title="Kobin"
          subtitle="A small and statically-typed web framework for Python3"
          linkUrl="https://github.com/c-bata/kobin/"
          imageUrl="/img/works/kobin.png"
          tags="Python"></card>
    <card title="Comet"
          subtitle="Desktop application for displaying the hashtag tweets when you talk at a conference."
          linkUrl="https://github.com/c-bata/comet"
          imageUrl="/img/works/comet.gif"
          tags="JavaScript,Electron"></card>
    <card title="c-bata bot"
          subtitle="Serverless LINE BOT using Chalice"
          linkUrl="https://github.com/c-bata/chalice-linebot"
          imageUrl="/img/works/linebot.png"
          tags="Python2,AWS Lambda,API Gateway, chalice"></card>
    <card title="c-bata.link"
          subtitle="This is my portfolio website."
          linkUrl="https://github.com/c-bata/c-bata.github.io"
          imageUrl="/img/works/portfolio.png"
          tags="HTML5,Sass,Compass,Angular2"></card>
    <card title="Feedy"
          subtitle="RSS Feed Fetching Framework for Python"
          linkUrl="https://github.com/c-bata/feedy/"
          imageUrl="/img/works/feedy.png"
          tags="Python"></card>
    <card title="いつかリスト"
          subtitle="いつかやりたいことを管理するWebアプリ"
          linkUrl="https://itukalist.herokuapp.com/"
          imageUrl="/img/works/itukalist.jpg"
          tags="Python3,Django,Sass,Twitter Bootstrap"></card>
</div>

<h2>Work Experiences</h2>

<ul>
    <li>AbemaTV サーバサイド 配信チーム (2017.06 - now)</li>
    <li>CyberAgent (2017.04 - 2017.06)</li>
    <li>AWA Co.Ltd アルバイト サーバ(Golang)・インフラ業務 (2016.03 - 2016.04)</li>
    <li>BePROUD アルバイト Python/Djangoのアプリケーション開発 (2015.03 - 2015.10)</li>
    <li>Teamlab インターンシップ 2 weeks (2015.09 - 2015.09)</li>
    <li>CyberAgent Tech Design Camp(1週間のハッカソン形式でAndroidアプリの機能追加) 優勝 (2015.08 - 2015.09)</li>
</ul>

<h2>Education</h2>

<ul>
    <li>国立明石工業高等専門学校 機械・電子システム工学専攻 (2015.04 - 2017.03)</li>
    <li>国立明石工業高等専門学校 電気情報工学科 (2010.04 - 2015.03)</li>
</ul>

